name: Release
on:
  release:
    types: [ published ]

permissions:
  contents: write
  packages: write

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ linux,windows ]
        goarch: [ amd64, arm64 ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          cd backend
          mkdir -p build
          go build -o build/fast-image-${GOOS}-${GOARCH} -ldflags "-s -w" .

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: backend/build/*
